@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 35px;
}
@media (max-width: 689px) {
  main {
    padding: 0 15px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/*Header*/
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  padding: 1px;
  position: relative;
  /* Permet de faire réaparaître la box shadow grace au positioning  */
}

/*Lieux Paris..*/
.Lieux {
  background-color: #e2e2e2;
  text-align: center;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  opacity: 70%;
  font-size: 14px;
}
.Lieux i {
  font-size: 23px;
  padding-bottom: 4px;
}

/*Reserver*/
.Reserver {
  text-align: center;
  background-color: #f6f6f6;
  height: 350px;
}
.Reserver h2 {
  margin-top: 0;
  padding-top: 55px;
  font-size: 27px;
}
.Reserver p {
  font-size: 20px;
  opacity: 60%;
}

/*Explorer*/
.ButtonExplorer {
  height: 60px;
  width: 240px;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 18px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.46);
  background-image: linear-gradient(357deg, #9356dc 18%, #ff79da 90%);
  /*CSS Gradient — Generator, Maker, and Background*/
  margin-top: 15px;
  cursor: pointer;
  transition: transform 450ms;
}
.ButtonExplorer:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/*Fonctionnement*/
.fonctionnement {
  counter-reset: Futur4;
  margin-bottom: 25px;
}
.fonctionnement ol {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 21px;
}
.fonctionnement li {
  background-color: #f6f6f6;
  padding: 20px 20px;
  flex-grow: 1;
  border-radius: 12px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.46);
  transition: transform 350ms;
  list-style-type: none;
  position: relative;
}
.fonctionnement li:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
.fonctionnement li i.fas {
  margin-right: 15px;
  color: #7e7e7e;
}
.fonctionnement li::before {
  content: counter(Futur4);
  counter-increment: Futur4;
  color: white;
  background-color: #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  left: -15px;
}

/*Menus*/
#homepages .menus {
  background-color: #f6f6f6;
  padding: 30px 20px;
}
#homepages .menus h2 {
  margin-bottom: 25px;
}
#homepages .menus .MenusCards {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
#homepages .menus .MenusCards .Nouveau {
  position: relative;
}
#homepages .menus .MenusCards .Nouveau::before {
  content: "Nouveau";
  position: absolute;
  height: 30px;
  width: 80px;
  background-color: #99e2d0;
  text-align: center;
  padding-top: 5px;
  border-radius: 2px;
  top: 15px;
  right: 15px;
  color: #299177;
}
#homepages .menus .card {
  flex-grow: 1;
  min-width: 48%;
}
#homepages .menus .card .card__image {
  background-position: 50%;
  height: 250px;
  background-size: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
#homepages .menus .card__image-1 {
  background-image: url("../image/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
#homepages .menus .card__image-2 {
  background-image: url("../image/stil-u2Lp8tXIcjw-unsplash.jpg");
}
#homepages .menus .card__image-3 {
  background-image: url("../image/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
#homepages .menus .card__image-4 {
  background-image: url("../image/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
#homepages .menus .card__description {
  position: relative;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
#homepages .menus .card__description::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 30px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: 300ms;
}
#homepages .menus .card__description::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 30px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: 300ms;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}
#homepages .menus .card__description:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.11);
}
#homepages .menus .card__description h3, #homepages .menus .card__description p {
  padding: 10px;
  margin: 0;
}

footer {
  background-color: #353535;
  padding: 15px 30px;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 500;
  padding: 15px 0;
}

@keyframes colums-appear {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#page-resto header::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}
#page-resto .image1 img {
  display: block;
  height: 70vh;
  width: 100%;
  object-fit: cover;
}
#page-resto .Menu__Title {
  margin-top: -50px;
}
#page-resto .Menu__Title h2 {
  font-family: "Shrikhand", "sans-serif";
  position: relative;
  padding: 20px;
  border-radius: 30px 30px 0 0;
  background: #f6faf9;
}
#page-resto .Menu__Title h2::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 30px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: 300ms;
}
#page-resto .Menu__Title h2::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 30px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: 300ms;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}
#page-resto .Menu__Title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.11);
}
#page-resto .resto-main {
  padding: 0 12px;
  background: #f6faf9;
}
#page-resto .Menus {
  margin-top: -20px;
}
#page-resto .Menus h3 {
  text-transform: uppercase;
  font-weight: 350;
  position: relative;
}
#page-resto .Menus h3::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 0px;
  height: 3px;
  width: 45px;
  background-color: #99e2d0;
}
#page-resto .Menus .menus__category {
  border-radius: 15px;
  overflow: hidden;
}
#page-resto .Menus .menus__category .menu-item {
  display: flex;
  background-color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 7px;
  border-radius: 15px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.35);
  animation: colums-appear 1s;
  animation-fill-mode: both;
}
#page-resto .Menus .menus__category .menu-item:nth-child(1) {
  animation-delay: 250ms;
}
#page-resto .Menus .menus__category .menu-item:nth-child(2) {
  animation-delay: 500ms;
}
#page-resto .Menus .menus__category .menu-item:nth-child(3) {
  animation-delay: 750ms;
}
#page-resto .Menus .menus__category .menu-item .menu-item__price {
  margin-left: auto;
  font-weight: 900;
  padding: 15px;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}
#page-resto .Menus .menus__category .menu-item .menu-item__description {
  padding: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-resto .Menus .menus__category .menu-item .menu-item__description h4, #page-resto .Menus .menus__category .menu-item .menu-item__description p {
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-resto .Menus .menus__category .menu-item .menu-item__check {
  background-color: #99e2d0;
  margin-right: -60px;
  width: 50px;
  border-radius: 0 15px 15px 0;
  transition: margin-right 0.5s;
  display: grid;
  place-items: center;
}
#page-resto .Menus .menus__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 30px;
  border-radius: 15px;
  color: #99e2d0;
}
#page-resto .Menus .menus__category .menu-item:hover {
  cursor: pointer;
}
#page-resto .Menus .menus__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .Menus .menus__category .menu-item:hover i {
  animation: spin 0.5s ease;
}
@keyframes spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
#page-resto section.order {
  height: 30vh;
  display: grid;
  place-items: center;
}
#page-resto section.order button {
  height: 60px;
  width: 240px;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 18px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.46);
  background-image: linear-gradient(357deg, #9356dc 18%, #ff79da 90%);
  /*CSS Gradient — Generator, Maker, and Background*/
  margin-top: 15px;
  cursor: pointer;
  transition: transform 450ms;
}
#page-resto section.order button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
