@use "../utils/mixins";
@use "../utils/color";

/*Header*/

header{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0 0 8px rgb(0 0 0 / 80%);
    padding: 1px;
    position: relative; /* Permet de faire réaparaître la box shadow grace au positioning  */
}

/*Lieux Paris..*/

.Lieux{
    background-color: #e2e2e2;
    text-align: center;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    opacity: 70%;
    font-size: 14px;

    & i {
        font-size: 23px;
        padding-bottom: 4px;
    }
}

/*Reserver*/

.Reserver{
    text-align: center;
    background-color: #f6f6f6;
    height: 350px;

    & h2{
        margin-top: 0;
        padding-top: 55px;
        font-size: 27px;
    }

    & p{
        font-size: 20px;
        opacity: 60%;
    }
}

/*Explorer*/

.ButtonExplorer{
    @include mixins.Button;

    &:hover{
        @include mixins.zoom;
        opacity: 0.9;   
    }
}