/*Header*/

header{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0 0 8px rgb(0 0 0 / 80%);
    padding: 1px;
    position: relative; /* Permet de faire réaparaître notre box shadow grace au positioning  */
}