@import "../utils/zoom.scss";


/*Reserver*/

.Reserver{
    text-align: center;

    & h2{
        margin-top: 40px;
        font-size: 27px;
    }

    & p{
        font-size: 20px;
        opacity: 60%;
    }
}

.ButtonExplorer{
    height: 60px;
    width: 240px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 18px;
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.46);
    background: linear-gradient(357deg, rgba(147,86,220,1) 18%, rgba(255,121,218,1) 90%);/*CSS Gradient — Generator, Maker, and Background*/
    margin-top: 15px;
    cursor: pointer;
    transition: transform 450ms;

    &:hover{
        @include zoom;
        opacity: 0.9;   
    }
}