@use "../utils/mixins.scss";
@use "../utils/color.scss";
@use "../utils/variables.scss";
@use "../utils/animation.scss";

#page-resto{

    header{
    
        &::before{
            @include mixins.font-awesome($font-weight: 900);
            content: "\f060";
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 25px;
        }
    }

    .image1 img{
        display: block;
        height: 70vh;
        width: 100%;
        object-fit: cover;
    }

    .Menu__Title {
    margin-top: -50px;

        h2{
        font-family: "Shrikhand","sans-serif";
        position: relative;
        padding: 20px;
        border-radius:  30px 30px 0 0;
        background: color.$MenuColor;

            &::before{
                @include mixins.Heart;
            }
            
            &::after{
                @include mixins.Heart($opacity: 0, $font-weight: 900,
                $color: transparent);
                @include mixins.gradient;
            }

            &:hover::after{
                opacity: 1;
                transform: translateY(-50%) scale(1.11);
            }
        
        }
    }

    .resto-main{
        padding: 0 12px;
        background: color.$MenuColor;
    }

    .Menus{
        margin-top: -20px;
       

        h3{
            text-transform: uppercase;
            font-weight: 350;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                top: 28px;
                left: 0px;
                height: 3px;
                width: 45px;
                background-color: color.$Tertiaire;
            }
        }

        .menus__category {
            border-radius: 15px;
            overflow: hidden;

            .menu-item{
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        animation-delay: 250ms * $i;
                    }
                }
                display: flex;
                background-color: white;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin: 7px;
                border-radius: 15px;
                box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 35%);
                animation: colums-appear 1s;
                animation-fill-mode: both;

                .menu-item__price{
                    margin-left: auto;
                    font-weight: 900;
                    padding: 15px;
                    display: flex;
                    align-items: flex-end;
                    margin-right: 10px;
                }

                .menu-item__description{
                    padding: 15px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    h4, p{
                        margin: 0px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }

                .menu-item__check{
                    $button-width: 60px;
                    background-color: color.$Tertiaire;
                    margin-right: -$button-width;
                    width: 50px;
                    border-radius: 0 15px 15px 0;
                    transition: margin-right 0.5s;
                    display: grid;
                    place-items: center;
                    
                    i{
                       display: grid;
                       place-items: center;
                       background: white;
                       aspect-ratio: 1;
                       width: 30px;
                       border-radius: 15px; 
                       color: color.$Tertiaire;
                    }
                }

                &:hover {
                    cursor: pointer;
    
                    .menu-item__check{
                        margin-right: 0;
                    }
    
                    i{
                        @include animation.spin;
                        animation: spin 0.5s ease;
                    }
    
                }
            }
        }
    }

    section.order{
        height: 30vh;
        display: grid;
        place-items: center;

        button{
            @include mixins.Button;

            &:hover{
                @include mixins.zoom;
                opacity: 0.9;   
            }
        }
    }

}